
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>musicplay</title>
</head>
<body>
    <div> 
        <embed src="~/Content/musics/@ViewBag.path"  />
    </div>
    <a href="Login">返回</a>
</body>
</html>
